<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-dark slide" data-bs-touch="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://m.media-amazon.com/images/I/81AQybT5k6L._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/81PJuPLlHLL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/91gbxADsGvL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/61TvbMdDQyL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/51Er8fYGJuL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Bank Offer (3):
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">10% Instant Discount Upto INR 750 on SBI Debit Card Trxn. Min purchase value INR 5000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        No Cost EMI:
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Avail No Cost EMI on select cards for orders above ₹3000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Exchange Offer:
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Up to ₹11,350.00 off on Exchange</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h1>Samsung Galaxy M13 5G (Aqua Green, 4GB, 64GB Storage) | 5000mAh Battery | Upto 8GB RAM with RAM Plus</h1>
            <h3 style="color: rgb(182,80,44);">₹13,999.00</h3>
            <h4>About this item</h4>
            <table class="table">
                <tr>
                    <td><h6>Brand</h6></td>
                    <td>Samsung</td>
                </tr>
                <tr>
                    <td><h6>Model Name</h6></td>
                    <td>Samsung Galaxy M13 5G</td>
                </tr>
                <tr>
                    <td><h6>OS</h6></td>
                    <td>Android 12.0</td>
                </tr>
                <tr>
                    <td><h6>Cellular Technology</h6></td>
                    <td>5G</td>
                </tr>
                <tr>
                    <td><h6>Memory Storage Capacity</h6></td>
                    <td>64 GB</td>
                </tr>
            </table>
            <ul>
                <li>Upto 12GB RAM with RAM Plus | 64GB internal memory expandable up to 1TB|</li>
                <li>Superfast 5G with 11 5G Bands, Powerful MTK D700 Octa Core 2.2GH with Android 12,One UI Core 4</li>
                <li>50MP+2MP Dual camera setup- True 50MP (F1.8) main camera + 2MP (F2.4) | 5MP (F2.0) front came</li>
                <li>16.55 centimeters (6.5-inch) LCD, HD+ resolution with 720 x 1600 pixels resolution, 269 PPI with 16M color</li>
                <li>5000mAH lithium-ion battery, 1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
            </ul>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn" type="button" style="background-color: rgb(255,159,0);color: white;" onclick="location.href='../carts/p1cart.html'"><strong>GO TO CART</strong></button>
        <button class="btn" type="button" style="background-color: rgb(251,100,27);color: white;"data-bs-toggle="modal" data-bs-target="#exampleModal2"><strong>BUY NOW</strong></button>
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: rgb(13,110,253);">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">PRICE DETAILS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                      <td><strong>Price</strong></td>
                      <td>₹13,999.00</td>
                  </tr>
                  <tr>
                      <td><strong>Discount</strong></td>
                      <td style="color:green;">-₹600</td>
                  </tr>
                  <tr>
                      <td><strong>Delivery Charges</strong></td>
                      <td style="color:green;">FREE</td>
                  </tr>
                  <tr>
                      <td><strong>Secured Packaging Fee</strong></td>
                      <td>₹58</td>
                  </tr>
                  <tr>
                      <td><strong>Total Amount</strong></td>
                      <td>₹13457</td>
                  </tr>
              </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="location.href='../buy/buy.html'">Continue</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>