<div style="background-color: rgb(33,37,41);">
    <br>
    <div class="container">
        <div class="row" style="background-color:rgb(33,37,41); color: white;">
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
               <h6 style="color: lightblue;">ABOUT</h6>
               <ul style="list-style-type: none;">
                <li><a href="#" style="text-decoration: none;color: inherit;">Contact Us</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">About Us</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">Careers</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">Smart-Digital Stories</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">Press</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">Smart-Digital Wholesale</a></li>
                <li><a href="#" style="text-decoration: none;color: inherit;">Corporate Information</a></li>
               </ul>
            </div>
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <h6 style="color: lightblue;">HELP</h6>
                <ul style="list-style-type: none;">
                 <li><a href="#" style="text-decoration: none;color: inherit;">Payments</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Shipping</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Careers</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Cancellation & Returns</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">FAQ</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Report Infringement</a></li>
                </ul>
             </div>
             <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <h6 style="color: lightblue;">POLICY</h6>
                <ul style="list-style-type: none;">
                 <li><a href="#" style="text-decoration: none;color: inherit;">Return Policy</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Terms Of Use</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Security</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">Privacy</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">FAQ</a></li>
                 <li><a href="#" style="text-decoration: none;color: inherit;">EPR Compliance</a></li>
                </ul>
             </div>
             <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <h6 style="color: lightblue;">Mail Us:</h6>
                <p>Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India
                </p>
             </div>
        </div>
    </div>
</div> 