<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-dark slide" data-bs-touch="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://m.media-amazon.com/images/I/71TdXNLT1FL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71UaSOiNmML._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/711LOjRlSxL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71D8Q0hqh3L._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71i-dBO--KL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Bank Offer (3):
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">10% Instant Discount Upto INR 750 on SBI Debit Card Trxn. Min purchase value INR 5000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        No Cost EMI:
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Avail No Cost EMI on select cards for orders above ₹3000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Exchange Offer:
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Up to ₹11,350.00 off on Exchange</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h1>OPPO A15s (Fancy White, 4GB, 128GB Storage) AI Triple Camera | 6.52" HD+ Screen | 2.3GHz Mediatek Helio P35 Octa Core Processor</h1>
            <h3 style="color: rgb(182,80,44);">₹10,990</h3>
            <h4>About this item</h4>
            <table class="table">
                <tr>
                    <td><h6>Brand</h6></td>
                    <td>Oppo</td>
                </tr>
                <tr>
                    <td><h6>Model Name</h6></td>
                    <td>OPPOA15s_4GB_128GB_White</td>
                </tr>
                <tr>
                    <td><h6>OS</h6></td>
                    <td>Android 10.0</td>
                </tr>
                <tr>
                    <td><h6>Cellular Technology</h6></td>
                    <td>4G</td>
                </tr>
                <tr>
                    <td><h6>Network Service Provider</h6></td>
                    <td>Unlocked for All Carriers</td>
                </tr>
            </table>
            <ul>
                <li>13MP main camera + 2MP Depth camera + 2MP Macro lens with 8MP Front</li>
                <li>16.55 centimeters (6.52-inch) HD+ Display with 1520 x 720 Pixel Resolution-Rear Fingerprint Sensor + AI face unlock| Eye comfort - filters Blue light to reduce damage to the eyes.</li>
                <li>Battery: 4230 mAh Lithium-Polymer Battery providing talk-time of 29 hours and standby time of 323 hours.</li>
                <li>Memory & Storage: 4GB Ram with 128GB Storage | Dual Nano Sim with Dual standby (4G+4G)</li>
                <li>Color OS 7.2 based on Android Version 10 Operating system with 2.3GHz Mediatek Helio P35 Octa Core Processor</li>
            </ul>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn" type="button" style="background-color: rgb(255,159,0);color: white;" onclick="location.href='../carts/p15cart.html'"><strong>GO TO CART</strong></button>
        <button class="btn" type="button" style="background-color: rgb(251,100,27);color: white;"data-bs-toggle="modal" data-bs-target="#exampleModal16"><strong>BUY NOW</strong></button>
        <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: rgb(13,110,253);">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">PRICE DETAILS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                      <td><strong>Price</strong></td>
                      <td>₹10,990</td>
                  </tr>
                  <tr>
                      <td><strong>Discount</strong></td>
                      <td style="color:green;">-₹600</td>
                  </tr>
                  <tr>
                      <td><strong>Delivery Charges</strong></td>
                      <td style="color:green;">FREE</td>
                  </tr>
                  <tr>
                      <td><strong>Secured Packaging Fee</strong></td>
                      <td>₹58</td>
                  </tr>
                  <tr>
                      <td><strong>Total Amount</strong></td>
                      <td>₹10,457</td>
                  </tr>
              </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="location.href='../buy/buy.html'">Continue</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>