<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-dark slide" data-bs-touch="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://m.media-amazon.com/images/I/715rSRKUlLL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71RyaDLYoZL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/61wix5Vjk5L._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/71KJO6Xjm0L._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://m.media-amazon.com/images/I/61GG+6LboNL._SX679_.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Bank Offer (3):
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">10% Instant Discount Upto INR 750 on SBI Debit Card Trxn. Min purchase value INR 5000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        No Cost EMI:
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Avail No Cost EMI on select cards for orders above ₹3000</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Exchange Offer:
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Up to ₹11,350.00 off on Exchange</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h1>Redmi K50i 5G (Phantom Blue, 6GB RAM, 128GB Storage) | Flagship Mediatek Dimensity 8100 Processor | 144Hz Liquid FFS Display | Alexa Built-in</h1>
            <h3 style="color: rgb(182,80,44);">₹24,999</h3>
            <h4>About this item</h4>
            <table class="table">
                <tr>
                    <td><h6>Brand</h6></td>
                    <td>Redmi</td>
                </tr>
                <tr>
                    <td><h6>Model Name</h6></td>
                    <td>K50i 5G</td>
                </tr>
                <tr>
                    <td><h6>OS</h6></td>
                    <td>MIUI 13</td>
                </tr>
                <tr>
                    <td><h6>Cellular Technology</h6></td>
                    <td>5G</td>
                </tr>
                <tr>
                    <td><h6>Network Service Provider</h6></td>
                    <td>Unlocked for All Carriers</td>
                </tr>
            </table>
            <ul>
                <li>The 5G enabled Dimensity 8100 SoC built on TSMC’s advanced 5nm process technology has 25% better CPU power efficiency over previous Dimensity chips. Combined with LPDDR5 RAM and UFS 3.1 storage the device elevates the gaming experience to new heights. The device can maintain sustained peak performance owing to the better heat dissipation via a large vapor chamber cooling system with 7 layers of graphite</li>
                <li>The 6.6" FHD+ 144Hz Fluid, Dolby Vision display along with 7-stage dynamic refresh rate is capable of producing 1 billion colors. The display produces accurate, vibrant colors & is extremely smooth and responsive as well, keeping the users fully immersed in their gaming & multimedia. The device comes with a unique 20.5:9 aspect ratio, clean & sharp flat frame design making the device aesthetic and comfortable to hold even for a longer duration</li>
                <li>Reimagine photography with 64MP ISOCELL primary sensor, 8MP Ultra-Wide, and 2MP Macro triple camera setup. The triple camera setup with the AI noise reduction algorithm helps capture stellar images effortlessly both during the day and night scenarios. The 4K video recording capability brings out movie-quality videos in a hassle-free manner</li>
                <li>The 67W in-box turbocharger can charge the massive 5080mAh battery in a jiffy. The all-day battery helps your Redmi K50i 5G work non-stop and ensures you don’t run out of power</li>
                <li>The dual stereo speaker setup with support for Dolby Atmos brings out superior sound quality with rich & deep bass, accurate mids, and super crisp highs, providing for a consistent listening experience. The display and audio setup bring out an unparalleled experience keeping you engrossed in your games and multimedia</li>
            </ul>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn" type="button" style="background-color: rgb(255,159,0);color: white;" onclick="location.href='../carts/p12cart.html'"><strong>GO TO CART</strong></button>
        <button class="btn" type="button" style="background-color: rgb(251,100,27);color: white;"data-bs-toggle="modal" data-bs-target="#exampleModal12"><strong>BUY NOW</strong></button>
        <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: rgb(13,110,253);">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">PRICE DETAILS</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                      <td><strong>Price</strong></td>
                      <td>₹24,999</td>
                  </tr>
                  <tr>
                      <td><strong>Discount</strong></td>
                      <td style="color:green;">-₹600</td>
                  </tr>
                  <tr>
                      <td><strong>Delivery Charges</strong></td>
                      <td style="color:green;">FREE</td>
                  </tr>
                  <tr>
                      <td><strong>Secured Packaging Fee</strong></td>
                      <td>₹58</td>
                  </tr>
                  <tr>
                      <td><strong>Total Amount</strong></td>
                      <td>₹24,457</td>
                  </tr>
              </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="location.href='../buy/buy.html'">Continue</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<br>