<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
            <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/katariy/Events_22/Jupiter_2022/CLPnewtiles/xcm_banners_2022_jupiter_ph1_wireless_434x641_m13_v1_434x641_in-en.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="../products/product1.html" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <br>
            <h2 style="text-align: center;">Samsung Galaxy M13 5G (Aqua Green, 4GB, 64GB Storage) | 5000mAh Battery | Upto 8GB RAM with RAM Plus</h2>
            <h3 style="color: rgb(182,80,44); text-align: center;">₹13,999.00</h3>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <h3 style="text-align: center;">Delivery by Sat Oct 8</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <strong>Price Details</strong>
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <td><strong>Price</strong></td>
                                <td>₹13,999.00</td>
                            </tr>
                            <tr>
                                <td><strong>Discount</strong></td>
                                <td style="color:green;">-₹600</td>
                            </tr>
                            <tr>
                                <td><strong>Delivery Charges</strong></td>
                                <td style="color:green;">FREE</td>
                            </tr>
                            <tr>
                                <td><strong>Secured Packaging Fee</strong></td>
                                <td>₹58</td>
                            </tr>
                            <tr>
                                <td><strong>Total Amount</strong></td>
                                <td>₹13457</td>
                            </tr>
                        </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-3">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
            <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/katariy/Events_22/Jupiter_2022/CLPnewtiles/xcm_banners_2022_jupiter_ph1_wireless_sbd_434x641_new-11prime5g_v1_434x641_in-en.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="../products/product3.html" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <br>
            <h2 style="text-align: center;">Redmi 11 Prime 5G (Meadow Green, 4GB RAM 64GB ROM) | Prime Design | MTK Dimensity 700 | 50 MP Dual Cam | 5000mAh | 7 Band 5G</h2>
            <h3 style="color: rgb(182,80,44); text-align: center;">₹12,999</h3>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <h3 style="text-align: center;">Delivery by Sat Oct 16</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      <strong>Price Details</strong>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <td><strong>Price</strong></td>
                                <td>₹12,999</td>
                            </tr>
                            <tr>
                                <td><strong>Discount</strong></td>
                                <td style="color:green;">-₹600</td>
                            </tr>
                            <tr>
                                <td><strong>Delivery Charges</strong></td>
                                <td style="color:green;">FREE</td>
                            </tr>
                            <tr>
                                <td><strong>Secured Packaging Fee</strong></td>
                                <td>₹58</td>
                            </tr>
                            <tr>
                                <td><strong>Total Amount</strong></td>
                                <td>₹12,457</td>
                            </tr>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="row g-3">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 col-xxl-2">
            <div class="card">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/PD/BrandTiles/xcm_banners_2022_jupiter_ph1_wireless_sbd_580x800_new-ja23d-axm72_580x800_in-en.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="../products/product18.html" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <br>
            <h2 style="text-align: center;">Tecno Spark 8T (Turquoise Cyan,7GB Expandable RAM, 64GB Storage)| 50MP AI Camera | 6.6" (16.7cm) FHD+Display | 5000mAh</h2>
            <h3 style="color: rgb(182,80,44); text-align: center;">₹8,499</h3>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-5 col-xl-5 col-xxl-5">
            <h3 style="text-align: center;">Delivery by Sat Oct 26</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      <strong>Price Details</strong>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <td><strong>Price</strong></td>
                                <td>₹8,499</td>
                            </tr>
                            <tr>
                                <td><strong>Discount</strong></td>
                                <td style="color:green;">-₹600</td>
                            </tr>
                            <tr>
                                <td><strong>Delivery Charges</strong></td>
                                <td style="color:green;">FREE</td>
                            </tr>
                            <tr>
                                <td><strong>Secured Packaging Fee</strong></td>
                                <td>₹58</td>
                            </tr>
                            <tr>
                                <td><strong>Total Amount</strong></td>
                                <td>₹7957</td>
                            </tr>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>